<form action="/files/<%= @file_name %>/edit" method="post">
  <label>Edit content</label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100">
      <%= @content %>
    </textarea>
  </div>
  <button type="submit">Submit</button>
</form>