<html>
<title>CMS</title>
<link href="/cms.css" rel="stylesheet" type="text/css" />
<body>
  <% if session[:message] %>
    <div class="message"><%= session.delete(:message) %></div>
  <% end %>
  <%= yield %>
</body>
</html>