<h2>Sign in</h2>
<form action="/signin" method="post">
  <label for="username">Username</label>
  <input name="username" />
  <label for="password">Password</label>
  <input name="password" />
  <button type="submit">Submit</button>
</form>